@model StudentAdmissionManagement.Student

@{
    ViewBag.Title = "Edit Student";
    List<Student_Status> lstStatus = new StudentAdmissionManagement.Models.BLStudents().GetStudentStatusList();
    List<Course> lstCourses = new StudentAdmissionManagement.Models.BLCourses().GetCoursesList().Where(e => e.coStatus == 1).OrderBy(e => e.coName).ToList();
}

<h2>Edit Student</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.stuId)

        <div class="form-group">
            @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stuName, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                @Html.ValidationMessageFor(model => model.stuName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Gender", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.stuGender, "m", new { @checked = Model.stuGender }) Male &nbsp;
                @Html.RadioButtonFor(model => model.stuGender, "f") Female
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date Of Birth", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stuDOB, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @type = "date",
                        @required = "true",
                        @Value = Model.stuDOB != null ? Model.stuDOB.ToString("yyyy-MM-dd") : null
                    }
                })
                @Html.ValidationMessageFor(model => model.stuDOB, "This field is required.", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stuStatus, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.stuStatus, lstStatus.Select(e => new SelectListItem { Value = e.ssId.ToString(), Text = e.ssName }), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stuCourseId, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.stuCourseId, lstCourses.Select(e => new SelectListItem { Value = e.coId.ToString(), Text = e.coName }), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div id="divSuspendDate" class="form-group" style="display: none;">
            @Html.LabelFor(model => model.stuSuspendTillDate, "Suspend Till", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stuSuspendTillDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @type = "date",
                        @required = "true",
                        @Value = Model.stuSuspendTillDate != null ? Convert.ToDateTime(Model.stuSuspendTillDate).ToString("yyyy-MM-dd") : null
                    }
                })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#stuStatus").change(function () {
            console.log(this);
            $("#divSuspendDate").css("display", "none");
            $("#stuSuspendTillDate").attr("required", "false");
            if (this.value == 2) {
                $("#divSuspendDate").css("display", "block");
                $("#stuSuspendTillDate").attr("required", "true");
            }
        });

        $(document).ready(function () {
            $("#stuStatus").change();
        });

    </script>
}
